body
{
	font-family: "monospace", sans-serif;
	color:white;
	padding-bottom:10px;
	margin:0px;
	background-color: #051622
}


h1
{
	color: white;
	font-size: 400%;
	margin-bottom: 25px;
	margin-top:0px;
	text-align: center;
}

h2 {
	color: pink;
}

#navtop {
	text-align: center;
}

#navtop a {
	color: #00a572;
}

#navtop a:visited {
	color: #00a572;
}

#navtop a:hover {
	color: #cccccc
}

#main {
	text-align: center;
}

#home {
	text-align: center;
	padding-bottom:40px;
	column-count: 3;
	column-gap: 40px;
	column-width: 100px;
}


.form {
	 float: right;
	 margin-right: 30px;
}

footer {
	text-align: right;
	font-size: 100%;
	background-image: url(../images/banner.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	color: white;
}

/* unvisited link */
a:link {
	color: pink;
	text-decoration: none;
	padding-right: 2%;
}

/* visited link */
a:visited {
	color: pink;
}

/* mouse over link */
a:hover {
	color: #CCCCCC;
}

/* selected link */
a:active {
	color: green;
}
